
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font-family{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.orange{
    color: orange;

}
.skyblue{
    color: skyblue;
}
.color1{
    color: #05D4DF;
}
.color-2{
  color: #5D58EF;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: orange;
    padding: 10px 20px;
    border-radius:12px;
    border: none;
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
   
}
.school{
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 2rem;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;

    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
/* mobile view */
.menu-toggle{
    font-size: 1.8rem;
    display:none;
    cursor: pointer;
}
.hr{
    display:none;
}

/* banner style */
.banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;


}
.banner-container{
    
    text-align: justify;
    margin-bottom: 50px;
}

.btn-primary2{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    background-color:black;
    padding: 10px 20px;
    border-radius:12px;
    border: none;
}
.banner-img img{
    width:400px;
}
.banner-title{
 font-size: 3.5rem;
 font-weight: bold;
 color: black;
}
#title1{
 color: orange;
}
#title2{
 color:  skyblue;
}
.banner-description{
    font-size: 1.25rem;
    color: black;
}
/* main style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 120px;
}
/* standard card style */
.standard{
    background-image: url(../assets/bg.png);
    margin: 0 auto;
    text-align: center;
    
  
}
.card-container{
    margin: 0 auto;
     max-width: 1100px;
     gap: 30px;
     justify-content: space-around;
     align-items: center;

    
}
.card1{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #DEF5FF, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card2{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #FFF4DC, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card3{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #F2E8FF, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card-title{
    font-size: 1.5rem;
    color: #202020;
    font-weight: 700;
}
.card-description{
    font-size: 1rem;
    color: #808080;
}
.standard-title{
    font-size: 2.6rem;
    font-weight: bold;
}
/* our stories */


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .menu-toggle, .hr{
        display: block;
       
   
    }
    .hr{
        margin-top: 20px;
    }
  
   .brand, .nav-links, .btn-primary{
    display: none;
   }
   .navbar{
  
    justify-content: space-between;
    margin: 0 50px;
   }
   .banner, .card-container{
    flex-direction: column;
    justify-content: center;
   }
   .banner-container{
    order: 2;
    text-align: center;
   
   }
   .banner-img img{
    order: 1;
    margin: 10px 10px;
   
   }
 
   

}