
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font-family{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.orange{
    color: orange;

}
.skyblue{
    color: skyblue;
}
.color1{
    color: #05D4DF;
}
.color-2{
  color: #5D58EF;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: orange;
    padding: 10px 20px;
    border-radius:12px;
    border: none;
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
   
}
.school{
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 2rem;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    margin-bottom: 10px;

    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
    
}
/* mobile view */
.menu-toggle{
    font-size: 1.8rem;
    display:none;
    cursor: pointer;
}
.hr{
    display:none;
}

/* banner style */
.banner{
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;


}
.banner-container{
    
    text-align: justify;
    margin-bottom: 50px;
}

.btn-primary2{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    background-color:black;
    padding: 10px 30px;
    border-radius:12px;
    border: none;
    margin-bottom: 50px;

}
.banner-img img{
    width:400px;
}
.banner-title{
 font-size: 3.5rem;
 font-weight: bold;
 color: black;
}
#title1{
 color: orange;
}
#title2{
 color:  skyblue;
}
.banner-description{
    font-size: 1.25rem;
    color: black;
}
/* main style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
    margin-top: 120px;
}
/* standard card style */
.standard{
    background-image: url(../assets/bg.png);
    margin: 0 auto;
    text-align: center;
    
    
  
}
.card-container{
    margin: 0 auto;
     max-width: 1100px;
     gap: 30px;
     justify-content: space-around;
     align-items: center;
     margin-top: 150px;

    
}
.card1{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #DEF5FF, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card2{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #FFF4DC, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card3{
    max-width:300px;
    text-align: center;
    align-items: center;
    background: linear-gradient( #F2E8FF, white);
    box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.05);
    border: none;
    padding: 40px;
    border-radius: 16px;
}
.card-title{
    font-size: 1.5rem;
    color: #202020;
    font-weight: 700;
}
.card-description{
    font-size: 1rem;
    color: #808080;
}
.standard-title{
    font-size: 2.6rem;
    font-weight: bold;
}
.btn-ball-container{
 margin-top: 50px;
}
.btn-ball{
    width: 50px;
    height: 50px;
    color: white;
    font-size: 1.25rem;
    border:none;
    background-color: orange;
    border-radius:50%;
 
}
/* our stories */
.our-stories{
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background: linear-gradient(#FFFFFF, rgba(255, 226, 174, 1));
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    align-items:center;
    /* height: 800px; */


}
.our-stories img{
    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.our-stories > div{
    flex: 1;
}
.stories-container{
    max-width:1100px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    gap: 20px;
    margin-top:10px;
    margin-bottom:30px;
   

}
.left{
    background-color: #FFFFFF;
    border-radius: 16px;
    position: relative;
   
}
.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    position: relative;
}
.stories-title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #000000;
}
.stories-sub-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}
.card{
    background-color: #FFFFFF;
    border-radius: 16px;
   
}
.img-card-description{
  font-size: 1rem;
  font-weight: 700;
  color: #000000;
}
/* btn style */
#btn-left-1{
   position: absolute;
   left: 20%;
   bottom:41%;

}
#btn-right1{
    position: absolute;
    left: 5%;
    bottom:68%;
}
#btn-right2{
    position: absolute;
    left: 55%;
    bottom: 68%;
}

#btn-right3{
    position: absolute;
    left: 5%;
    bottom:15%;
    
}

#btn-right4{
  position: absolute;
  left: 55%;
  bottom: 15%;
   
}


.btn-secondary{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    padding:10px 15px;
    border-radius:47px;
    border: none;
   

}

.back-cl1{
    background-color: #3CD8E8;
}
.back-cl2{
    background-color: #95B226;
}
.back-cl3{
    background-color: #5D58F0;
}
/* footer style */
footer{
    margin: 0 auto;
   
}
.footer-s{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.footer-container{
    justify-content: space-around;
    padding: 50px;
   
    
}
.white{
    color: white;
}
.logo1{
    gap: 10px;
    align-items: center;
}
.footer-title{
    font-size: 2.6rem;
    font-weight: bold;
}
.footer-sub-title{
    margin-top: 30px;
    font-size: 1.25rem;
    font-weight: 700;
}
/* responsive mobile device */
@media screen and (max-width: 576px) {
    .menu-toggle, .hr{
        display: block;
       
   
    }
    .hr{
        margin-top: 20px;
    }
  
   .brand, .nav-links, .btn-primary,
   .left, .btn-secondary, .btn-ball {
    display: none;
   }


   .navbar{
  
    justify-content: space-between;
    margin: 0 50px;
   }
   .banner, .card-container, .footer-container{
    flex-direction: column;
    justify-content: center;
   
   }
   .banner-title {
     font-size: 2rem;
     font-weight: bold;
   }
   .standard-title, .stories-title {
    font-size: 1.5rem;
    font-weight: bold;
   
   }
   .our-stories img{
    width: 100%;
   }
   .banner-container{
    order: 2;
    text-align: center;
   
   }
   .banner-img img{
    order: 1;
    margin: 10px 10px;
   
   }

   .right{
    width: 100%;
   }
 
  .footer-title{
    font-size: 2rem;
  }
   

}